:root {
  --weui-BRAND: var(--td-brand-color-7);
  --weui-logo-icon: var(--td-brand-color-7);
  --weui-logo-text: #000427;
  --weui-navbar-bg: rgba(250, 250, 252, .8);
  --weui-navbar-backdrop-filter: saturate(180%) blur(20px);
  --weui-mask-disabled: rgba(255, 255, 255, 0.6);
  --weui-bg-color-container-hover: #f3f3f3;
  --weui-shadow: 0 6px 30px 5px rgba(0, 0, 0, 0.05), 0 16px 24px 2px rgba(0, 0, 0, 4%), 0 8px 10px -5px rgba(0, 0, 0, 8%);
  --weui-shadow-inset-top: inset 0 0.5px 0 #dcdcdc;
  --weui-shadow-inset-right: inset 0.5px 0 0 #dcdcdc;
  --weui-shadow-inset-bottom: inset 0 -0.5px 0 #dcdcdc;
  --weui-shadow-inset-left: inset -0.5px 0 0 #dcdcdc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --weui-BRAND: var(--td-brand-color-7);
    --weui-logo-icon: #FFFFFF;
    --weui-logo-text: #FFFFFF;
    --weui-navbar-bg: rgba(22, 22, 23, .8);
    --weui-navbar-backdrop-filter: saturate(180%) blur(20px);
    --weui-mask-disabled: rgba(0, 0, 0, 0.6);
    --weui-bg-color-container-hover: #2c2c2c;
    --weui-shadow: 0 16px 24px rgba(0, 0, 0, 0.14), 0 6px 30px rgba(0, 0, 0, 0.12), 0 8px 10px rgba(0, 0, 0, 0.20);
    --weui-shadow-inset-top: inset 0 0.5px 0 #5e5e5e;
    --weui-shadow-inset-right: inset 0.5px 0 0 #5e5e5e;
    --weui-shadow-inset-bottom: inset 0 -0.5px 0 #5e5e5e;
    --weui-shadow-inset-left: inset -0.5px 0 0 #5e5e5e;
  }
}

@font-face {
  font-family: LINESeedSans_W_XBd;
  font-style: normal;
  font-weight: "normal";
  font-display: swap;
  src: url(fonts/LINESeedSans_W_XBd.woff) format("woff"), url(fonts/LINESeedSans_W_XBd.woff2) format("woff2")
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--weui-FG-0);
  background: var(--weui-BG-0);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: MiSans, MIUI, Helvetica Neue, Helvetica, Arial, PingFang SC, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li, ol, ul {
  list-style: none;
}

a {
  cursor: pointer !important;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .5s;
}