@import './weui.css';

:root {
  --weui-logo-icon: var(--td-brand-color);
  --weui-logo-text: #000427;
}
@media (prefers-color-scheme:dark) {
  :root {
    --weui-logo-icon: #FFFFFF;
    --weui-logo-text: #FFFFFF;
  }
}
body {
  background-color: var(--weui-BG-2);
  color: var(--weui-FG-0);
}
.t-space .t-space-item {
  width: 300px !important;
}
.layout {
  padding: var(--td-size-8) var(--td-size-8);
}
.result-success-logo .st0{
  fill: var(--weui-logo-icon);
}
.result-success-logo .st1{
  fill: var(--weui-logo-text);
}
.result-success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.result-success-title {
  margin-top: var(--td-size-13);
  font: var(--td-font-title-large);
  font-weight: initial;
  color: var(--weui-FG-0);
  text-align: center;
}
.result-success-describe {
  margin: var(--td-size-5) 0 var(--td-size-10);
  font: var(--td-font-body-medium);
  color: var(--weui-FG-1);
}
.result-success-btns .t-button {
  border-radius: 20px;
}
.result-success-btns .t-button+.t-button {
  margin-left: var(--td-size-5);
}